h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

body { 
    background: #E9E9E9;
}

button {
    background: #41E192;
    font-family: Arial, Helvetica, sans-serif;
    width: 75px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    border: none;
    transition-duration: 0.4s;
}
button:hover {
  background-color: #00bd5e;
  color: white;
  box-shadow: 0 6px 8px 0 #0000003d, 0 9px 25px 0 #00000030;
}
button:active {
  box-shadow: 0 1px #666;
  transform: translateY(1px);
  transition-duration: 0s;
}

input {
    background: #fff;
    width: 300px;
    height: 30px;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-top: 4px;
}
input[type=text]:focus {
  border: 2px solid #555;
  border-radius: 8px;
}

label {
    float: left;
    padding-left: 98px;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
  background: #a3ccc0;
  padding-top: 7px;
  padding-bottom: 24px;
  width: 500px;
  box-shadow: 0 4px 8px 0 #00000033;
  border-radius: 25px;
}

#submitbutton {
  text-decoration: none;
}